body{
    background-color: #e6e6e6;
}
.navbar-bg {
    background-color: #6d5bfb;
    height: 80px;
}

.section {
    margin-top: 60px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
}

.card .card-stats .card-stats-title {
    background-color: #3c3c3c;
    color: white;
    margin-bottom: 10px;
}

.section .section-header {
    background-color: #3c3c3c;
}

.main-footer {
    background: #6d5bfb;
    border-top: 1px solid #6d5bfb;
}

.main-footer .footer-left {
    color:white;
}

.card.card-statistic-1 .card-header h4, .card.card-statistic-2 .card-header h4 {
    color: #6d5bfb;
}

.card .card-header h4 {
    color: #ffffff;
}

.card .card-header {
    background: #6d5bfb;
}

.section .section-header h1 {
    color: #ffffff;
}

.section .section-header .section-header-breadcrumb .breadcrumb-item {
    color: #ffffff;
}

.main-sidebar .sidebar-menu li a {
    color: #000000;
}

.main-sidebar .sidebar-menu li.menu-header {
    color: #000000;
}

.main-sidebar {
    background-color: #ffffff;
}

.nav-tabs .nav-item .nav-link {
    color: #ffffff;
}
a {
    color: #ffffff;
}

.table:not(.table-sm) thead th {
    background-color: black;
    color: #fff;
}